<div class="container padded">
  <mat-table [dataSource]="openPullRequests">
    <ng-container matColumnDef="repo">
      <mat-header-cell *matHeaderCellDef> Repo </mat-header-cell>
      <mat-cell *matCellDef="let pullRequest">
        <a href="{{pullRequest.repoUrl}}" target="_blank">{{pullRequest.repo}}</a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Pull Request Title </mat-header-cell>
      <mat-cell *matCellDef="let pullRequest">
        <a href="{{pullRequest.url}}" target="_blank">{{pullRequest.title}}</a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="elapsed-weekdays">
      <mat-header-cell *matHeaderCellDef> Elapsed Weekdays </mat-header-cell>
      <mat-cell *matCellDef="let pullRequest" [ngClass]="{'stale': pullRequest.stale}"> {{pullRequest.elapsedWeekdays}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns;"></mat-row>
  </mat-table>
</div>
