@import '~@angular/material/theming';

@include mat-core();

$light-app-primary: mat-palette($mat-grey, 800, 600, 900);
$light-app-accent: mat-palette($mat-blue-grey, 700, 500, 900);
$light-app-warn: mat-palette($mat-red);
$light-app-theme: mat-light-theme($light-app-primary, $light-app-accent, $light-app-warn);

.light-theme {
  @include angular-material-theme($light-app-theme);
}